<div *ngIf="transform=='register'">
  <div style="text-align: end;">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
  </div>

  <div class="popup" [formGroup]="income">
    <h1>Agregar cuenta de Ingreso</h1>
    <p>Ingresa el nombre de la cuenta</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Cuenta</mat-label>
        <input matInput placeholder="Ingresa el nombre de la cuenta" required type="text" formControlName='incomeName'>
        <mat-error *ngIf="isValidField('incomeName')">{{getErrorMessage('incomeName','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <button class="btn-confirm" [disabled]="income.invalid" type="submit" (click)="sendIncome(income.value)">
        <span > Guardar cuenta</span>
      </button>
    </div>
  </div>
</div>
<div *ngIf="transform=='edit'">
  <div style="text-align: end;">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
  </div>

<div class="popup" [formGroup]="incomeEdit">
    <h1>Editar cuenta de Ingreso</h1>
    <p>Ingresa el nuevo nombre de la cuenta</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Cuenta</mat-label>
        <input matInput placeholder="Ingresa el nombre de la cuenta" required type="text" formControlName='incomeName'>
        <mat-error *ngIf="isValidFieldEdit('incomeName')">{{getErrorMessage('incomeName','edit')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <button class="btn-confirm" [disabled]="incomeEdit.invalid" type="submit" (click)="updateIncome(incomeEdit.value)">
        <span > Actualizar</span>
      </button>
    </div>
  </div>
</div>
