.example-card {
    max-width: 250px;
    width: 200px;
    margin-right:25px;
    margin-bottom: 10px;
  }
  .cards{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  .button{
      width: 100%;
  }
  .icon{
      background-color: rgb(73, 151, 240);
      width: 40px;
      height: 40px;
      padding-top: 6px;
      padding-right: 3px;
  }
  .data{
      width: 80%;
      padding-top: 10px;
  }
  mat-icon{
      font-size: 30px;
      color: white;    
  }
  mat-card-title{
      color: rgb(73, 151, 240);
      font-size: 14px;
  }
  mat-card-subtitle{
    font-size: 12px;
}
.mat-form-field {
    font-size: initial;
}
h1{
    color:#575757;
    font-family:Montserrat;
    font-weight:800;
    line-height:25px;
    margin:15px 0px 3px;
  }
  #container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 575px;
    }
    #bg-container{
    width: 100%;
    text-align: center;
    z-index:0;
    }
    #bg-container img{
    width: 20%;
    
    }
    #content-container{
    width: 100%;
    text-align: center;
    z-index:1;
    }
    #content-container h1{
    color: #002b5c;
    font-weight: 900;
    font-size: 60px;
    line-height: 0.9em;
    margin-bottom: 30px;
    }
    #content-container h4{
        color:#575757;
    font-family:Montserrat;
    font-weight:800;
    line-height:25px;
    margin:15px 0px 3px;
        }
    #content-container p{
    line-height: 1.8em;
    font-weight: 500;
    }
    #content-container button:hover{
    opacity: 0.9;
    }
    @media screen and (max-width:500px) {
        #container{
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 20px;
            height: 575px;
            }
            #bg-container{
            width: 100%;
            z-index:0;
            }
            #bg-container img{
            width: 80%;
            height: 40%;
            
            }
            #content-container h1{
            color: #002b5c;
            font-weight: 900;
            font-size: 40px;
            line-height: 0.9em;
            margin-bottom: 30px;
            }
            #content-container h4{
                color:#757272;
                font-weight: 900;
                font-size: 18px;
                line-height: 0.9em;
                margin-bottom: 30px;
                }
            #content-container p{
            line-height: 1.8em;
            font-weight: 500;
            }
    }