<div class="cards">
    <mat-card class="example-card">
        <mat-card-content style="display: flex;">
            <div class="icon">
                <mat-icon>attach_money</mat-icon>
            </div>
            <div class="data">
                <mat-card-title>{{totalIncomes}}</mat-card-title>
                <mat-card-subtitle>TOTAL INGRESOS</mat-card-subtitle>
            </div>
         
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button class="button" routerLink="/home/report/income">Ver mas detalles</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content style="display: flex;">
            <div class="icon" style="background-color: rgb(240, 122, 101);">
                <mat-icon>credit_card</mat-icon>
            </div>
            <div class="data">
                <mat-card-title style="color: rgb(240, 122, 101);">{{totalExpenses}}</mat-card-title>
                <mat-card-subtitle>TOTAL EGRESOS</mat-card-subtitle>
            </div>
         
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button class="button" routerLink="/home/report/expense">Ver mas detalles</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content style="display: flex;">
            <div class="icon" style="background-color: rgb(245, 233, 62);">
                <mat-icon>cloud_upload</mat-icon>
            </div>
            <div class="data">
                <mat-card-title style="color: rgb(245, 233, 62);">{{incomesAccounts}}</mat-card-title>
                <mat-card-subtitle>INGRESOS</mat-card-subtitle>
            </div>
         
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button class="button" routerLink="/home/incomes">Ver mas detalles</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content style="display: flex;">
            <div class="icon" style="background-color: rgb(152, 212, 236);">
                <mat-icon>cloud_download</mat-icon>
            </div>
            <div class="data">
                <mat-card-title style="color: rgb(152, 212, 236);">{{expensesAccounts}}</mat-card-title>
                <mat-card-subtitle>EGRESOS</mat-card-subtitle>
            </div>
         
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button class="button" routerLink="/home/expenses">Ver mas detalles</button>
        </mat-card-actions>
      </mat-card>
</div>
