
<div class="position-button">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
</div>

<div class="popup" [formGroup]="changePassword">
    <h1>Contraseña olvidada</h1>
    <p>Por favor, indícanos tu numero de Telefono para restablecer tu contraseña.</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Ingrese su telefono" required type="number" formControlName='telephone'>
        <mat-error *ngIf="isValidField('telephone')" >{{getErrorMessageNumber('telephone','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <button class="btn-confirm"[disabled]="changePassword.invalid" type="submit" (click)="sendEmail()">
        <span *ngIf="activateSpinner==undefined"> Verificar</span>
        <span *ngIf="activateSpinner"> Verificando </span>
        <span *ngIf="activateSpinner==false"> Número verificado</span>
        <mat-icon><mat-spinner *ngIf="activateSpinner" [diameter]="30"></mat-spinner></mat-icon>
        <mat-icon *ngIf="activateSpinner==false">done</mat-icon>
      </button>
    </div>
  </div>