.manage{
    color:#424242;
    flex-basis:0%;
    font-size:12.0012px;
    line-height:18.0018px;
    margin-left: 30px;
}
.button{
    color:#424242;
    display:flex;
    font-size:12.0012px;
    justify-content:flex-end;
    line-height:18.0018px;
    margin:0px 0px 20px;
}
h3{
    color:#696969;
    font-family:Montserrat;
    font-size:20px;
    font-weight:700;
    line-height:24px;
    margin:0px 0px 20px;
}
.personal-data{
    color:#d52b1e;
    font-size:12.0012px;
    line-height:18.0018px;
    display: flex;
}
h1{
    color:#d52b1e;
    display:table-cell;
    font-family:Montserrat;
    font-size:20px;
    font-weight:700;
    line-height:24px;
    margin:0px 0px 10px;
    padding:0px 0px 0px 45px;
    text-align: center;
}
li{
    color:#424242;
    display:list-item;
    flex-basis:50%;
    font-family:Montserrat;
    font-size:12.0012px;
    line-height:18.0018px;
    padding:5px;
    text-align:left;
    list-style-type: none;
}
a{
    align-items:center;
    background-color:#f1f1f1;
    border-color:#cccccc;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    color:#696969;
    display:flex;
    font-family:Montserrat;
    font-size:18px;
    justify-content:center;
    padding:0px 15px;
    text-align:left;
    
}
span{
    color:#696969;
    font-size:18px;
    text-align:center;
}
.data{
    color:#424242;
    display:flex;
    flex-wrap:wrap;
    font-family:Montserrat;
    font-weight:500;
    line-height:20px;
    padding:0px 10px 9px 0px;
    text-align:left;
    font-size: 17px;
    width: 100%;
    max-width: 100%;
}
.subdata{
    color:#9e9d9d;
    font-weight:500;
    line-height:24px;
    margin:0px 0px 0px 50px;
    text-align:left;
    font-size: 17px;
    max-width: 100%;
    -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  /* Sólo WebKit -NO DOCUMENTADO */
  -ms-hyphens: auto;
  /* Guiones para separar en sílabas */
  -moz-hyphens: auto;
  /*  depende de lang en <html>      */
  -webkit-hyphens: auto;
  hyphens: auto;
}
.btn-create{
    color: #fff;
    background-color:#002b5c ;
  }
  .btn-catalog{
    border-color:#c2c0c0;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    color:#424242;
    display:flex;
    font-family:Montserrat;
    font-size:13px;
    font-weight:500;
    line-height:19.5px;
    padding:6px 14px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    width: max-content;
  }
  .image{
    align-items:center;
    color:#424242;
    display:block;
    font-size:12.0012px;
    justify-content:center;
    line-height:18.0018px;
    width: 100%;
    height: 200px;
    text-align: center;
}
img{
    font-size:12.0012px;
    line-height:18.0018px;
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-left: 5px;
    
}