
<div class="manage">
    <a mat-button class="btn-catalog" routerLink="/home">
        
        <mat-icon>home</mat-icon>
        <span>Ir a Home </span>
    </a>
    <h3>Perfil</h3>
    <div class="personal-data">
        <mat-icon style="font-size: 45px;">person</mat-icon>
        <h1>Datos personales</h1>
        
    </div>
    <div style="padding: 20px; margin-left: 45px;">
        <li class="data">Nombre:
            <span class="subdata">{{userData?.name}}</span>
        </li>
        <li class="data">Username:
            <span class="subdata">{{userData?.username}}</span>
        </li>
        <li class="data">Número:
            <span class="subdata">{{userData?.telephone}}</span>
        </li>
        <li class="data">Contraseña:
            <span class="subdata">********</span>
        </li>
    </div>
    <div style="display: flex;padding: 20px;">
        <li>
            <a mat-button  (click)="openDialogUpdate()"><span>Actualiza tus datos personales</span></a>
        </li>
        
    </div>
</div>