.card {
    width: 90%;
    height: 100%;
    max-width: 100%;
    padding: 15px;
  }
  .card--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    
  }
  .btn-add {
    background-color: #212F3C;
    color: white;
    width:max-content;
    max-width: max-content;
    flex-wrap:wrap;
  }
  .mat-raised-button {
    min-width: max-content;
  }

  .container-table {
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
    overflow-x: scroll;
    height: 200px;
  }
  ::ng-deep .snackSuccess {
    background-color: #41a812;
  }