<img src=""  class="avatar mat-elevation-z8">
<h4 class="name">{{user?.name}}</h4>
<p class="designation">{{user?.userName}}</p>
<p class="expiry"*ngIf="ROLE_USER_FINAL && expiryMessage!=''"><mat-icon style="font-size: medium;">warning_amber</mat-icon>{{expiryMessage}}</p>
<mat-divider></mat-divider>

    <a mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </a>
    <a mat-button class="menu-button" routerLink="/home/user" *ngIf="ROLE_USER_FINAL" >
        <mat-icon>portrait</mat-icon>
        <span>Perfil</span>
    </a>
    <a mat-button class="menu-button" routerLink="/home/manage-users" *ngIf="ROLE_ADMIN" >
        <mat-icon>person</mat-icon>
        <span>Control de Usuario</span>
    </a>
    <a mat-button class="menu-button" (click)="open=!open"*ngIf="ROLE_USER_FINAL" >
        <mat-icon>receipt_long</mat-icon>
        <span>Cuentas</span>
    </a>
    <div *ngIf="open" style="margin-left: 10px;" >
        <a mat-button class="sub-menu-button" routerLink="/home/income-accounts">
            <mat-icon>show_chart</mat-icon>
            <span>Cuenta Ingresos</span>
        </a>
        <a mat-button class="sub-menu-button" routerLink="/home/expense-accounts">
            <mat-icon>show_chart</mat-icon>
            <span>cuenta Egresos</span>
        </a>
    </div>
    <a mat-button class="menu-button" *ngIf="ROLE_USER_FINAL" routerLink="/home/incomes" >
        <mat-icon>attach_money</mat-icon>
        <span>Ingresos</span>
    </a>
    
    <a mat-button class="menu-button"  *ngIf="ROLE_USER_FINAL" routerLink="/home/expenses" >
        <mat-icon>cloud_download</mat-icon>
        <span>Egresos</span>
    </a>
    
    
    <a mat-button class="menu-button"(click)="openReport=!openReport" *ngIf="ROLE_USER_FINAL ">
        <mat-icon>summarize</mat-icon>
        <span>Reportes</span>
    </a>
    <div *ngIf="openReport" style="margin-left: 10px;" >
        <a mat-button class="sub-menu-button" routerLink="/home/report/income">
            <mat-icon>show_chart</mat-icon>
            <span>Reporte Ingresos</span>
        </a>
        <a mat-button class="sub-menu-button" routerLink="/home/report/expense">
            <mat-icon>show_chart</mat-icon>
            <span>Reporte Egresos</span>
        </a>
    </div>
<mat-divider></mat-divider>
<a mat-button class="menu-button" routerLink="/home/settings" *ngIf="ROLE_ADMIN">
    <mat-icon>settings</mat-icon>
    <span>Configuraciones</span>
</a>
    <a mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
    </a>
    