<div class="position-button">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
</div>

<!-- <div class="popup" [formGroup]="changePassword" *ngIf="identifier==1">
    <h1>Cambiar Contraseña</h1>
    <p>Por favor, introduce una nueva contraseña, los campos con * son obligatorios</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su nueva contraseña" 
                required type="password" formControlName='password'>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isValidField('password')" >{{getErrorMessage('password','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Ingrese la misma contraseña" 
                required type="password" formControlName='confirmPassword'>
        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isValidField('confirmPassword')" >{{getErrorMessage2('confirmPassword','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <a mat-button class="btn-confirm"[disabled]="changePassword.invalid" (click)="updatePassword()">
        <span > Actualizar contraseña</span>
      </a>
    </div>
</div> -->
<div class="popup" [formGroup]="changePasswordUser" >
    <h1>Cambiar Contraseña</h1>
    <p>Por favor, introduce una nueva contraseña, los campos con * son obligatorios</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su nueva contraseña" 
                required type="password" formControlName='password'>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isValidField('password')" >{{getErrorMessage('password','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Ingrese la misma contraseña" 
                required type="password" formControlName='confirmPassword'>
        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isValidField('confirmPassword')" >{{getErrorMessage2('confirmPassword','register')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <button class="btn-confirm"[disabled]="changePasswordUser.invalid"type="submit" (click)="updatePassword()">
        <span > Actualizar contraseña</span>
      </button>
    </div>
</div>