 
  .btn-login{
    color: #fff;
    background-color:#002b5c ;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .main{
    height: 100vh;
    max-width:100% ;
    -webkit-background-size:cover ;
    background-size: cover;
    background-position:center center ;
    position: relative;
  }
  
  .welcome__te h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    line-height: 50px;
    
  }
  .welcome__te{
    width: 40%;
    height: auto;
    text-align: center;
    padding: 10px;
    margin-right: 55px;
  }
  .logo img{
    width: 300px;
    float: center;
    height: auto;
  }
  a{
    color:#444444;
    display:inline;
    font-family:Montserrat;
    font-size:13px;
    line-height:19.5px;
    padding:6.5px 0px 0px;
  }
  a:hover { color: #0460ca; cursor: pointer; }
  



mat-card{
    width:310px;
    height: 325px;
    background-color: white;
    margin-bottom: 100px;
}
.field{
    width: 100%;
    padding-bottom: 15px;

}
#container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 575px;
    }
    #bg-container{
    width: 40%;
    z-index:0;
    }
    #bg-container img{
    width: 100%;
    height: 70%;
    margin-top: 10%;
    margin-left: 10%;
    
    }
    #content-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:1;
    }
    #content-container h1{
    color: #002b5c;
    font-weight: 900;
    font-size: 60px;
    line-height: 0.9em;
    margin-bottom: 30px;
    }
    #content-container p{
    line-height: 1.8em;
    font-weight: 500;
    }
    #content-container button:hover{
    opacity: 0.9;
    }

